.gemini

# ROS workspaces
ros1_ws/build/
ros1_ws/devel/
ros1_ws/install/
ros1_ws/log/
ros1_ws/logs/
ros1_ws/.catkin_tools/
ros1_ws/.rosinstall

ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
ros2_ws/logs/

# Python cache files
__pycache__/
*.py[cod]
