<?xml version="1.0"?>
<robot name="ur5e_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="mesh_visual_path" value="package://ur_description/meshes/ur5e/visual"/>
  <xacro:property name="mesh_collision_path" value="package://ur_description/meshes/ur5e/collision"/>

  <material name="LightGrey">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>

  <xacro:macro name="standard_link" params="name mass ixx iyy izz ixy ixz iyz visual_mesh collision_mesh visual_xyz visual_rpy collision_xyz collision_rpy inertial_xyz inertial_rpy">
    <link name="${name}">
      <visual>
        <origin xyz="${visual_xyz}" rpy="${visual_rpy}"/>
        <geometry>
          <mesh filename="${visual_mesh}"/>
        </geometry>
        <material name="LightGrey"/>
      </visual>
      <collision>
        <origin xyz="${collision_xyz}" rpy="${collision_rpy}"/>
        <geometry>
          <mesh filename="${collision_mesh}"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="${mass}"/>
        <origin xyz="${inertial_xyz}" rpy="${inertial_rpy}"/>
        <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>
      </inertial>
    </link>
  </xacro:macro>

  <xacro:macro name="revolute_joint" params="name parent child origin_xyz origin_rpy axis_xyz effort lower_limit upper_limit velocity damping friction">
    <joint name="${name}" type="revolute">
      <parent link="${parent}"/>
      <child link="${child}"/>
      <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
      <axis xyz="${axis_xyz}"/>
      <limit effort="${effort}" lower="${lower_limit}" upper="${upper_limit}" velocity="${velocity}"/>
      <dynamics damping="${damping}" friction="${friction}"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="fixed_joint" params="name parent child origin_xyz origin_rpy">
    <joint name="${name}" type="fixed">
      <parent link="${parent}"/>
      <child link="${child}"/>
      <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
    </joint>
  </xacro:macro>

  <xacro:standard_link
    name="base_link"
    mass="4.0"
    ixx="0.00443333156" iyy="0.00443333156" izz="0.0072" ixy="0.0" ixz="0.0" iyz="0.0"
    visual_mesh="${mesh_visual_path}/base.dae" collision_mesh="${mesh_collision_path}/base.stl"
    visual_xyz="0 0 0" visual_rpy="0 0 ${pi}"
    collision_xyz="0 0 0" collision_rpy="0 0 ${pi}"
    inertial_xyz="0 0 0" inertial_rpy="0 0 0"
  />

  <xacro:revolute_joint name="shoulder_pan_joint" parent="base_link" child="shoulder_link" origin_xyz="0 0 0.1625" origin_rpy="0 0 ${pi}" axis_xyz="0 0 1" effort="150.0" lower_limit="${-pi}" upper_limit="${pi}" velocity="${pi}" damping="0.0" friction="0.0"/>

  <xacro:standard_link
    name="shoulder_link"
    mass="3.7"
    ixx="0.010267495893" iyy="0.010267495893" izz="0.00666" ixy="0.0" ixz="0.0" iyz="0.0"
    visual_mesh="${mesh_visual_path}/shoulder.dae" collision_mesh="${mesh_collision_path}/shoulder.stl"
    visual_xyz="0 0 0" visual_rpy="0 0 ${pi}"
    collision_xyz="0 0 0" collision_rpy="0 0 ${pi}"
    inertial_xyz="0 0 0" inertial_rpy="0 0 0"
  />

  <xacro:revolute_joint name="shoulder_lift_joint" parent="shoulder_link" child="upper_arm_link" origin_xyz="0 0 0" origin_rpy="${pi/2} 0 0" axis_xyz="0 0 1" effort="150.0" lower_limit="${-pi}" upper_limit="${pi}" velocity="${pi}" damping="0.0" friction="0.0"/>

  <xacro:standard_link
    name="upper_arm_link"
    mass="8.393"
    ixx="0.138134736413" iyy="0.138134736413" izz="0.0236053125" ixy="0.0" ixz="0.0" iyz="0.0"
    visual_mesh="${mesh_visual_path}/upperarm.dae" collision_mesh="${mesh_collision_path}/upperarm.stl"
    visual_xyz="0 0 0.138" visual_rpy="${pi/2} 0 ${-pi/2}"
    collision_xyz="0 0 0.138" collision_rpy="${pi/2} 0 ${-pi/2}"
    inertial_xyz="-0.2125 0.0 0.138" inertial_rpy="0 ${pi/2} 0"
  />

  <xacro:revolute_joint name="elbow_joint" parent="upper_arm_link" child="forearm_link" origin_xyz="-0.425 0 0" origin_rpy="0 0 0" axis_xyz="0 0 1" effort="150.0" lower_limit="${-pi}" upper_limit="${pi}" velocity="${pi}" damping="0.0" friction="0.0"/>

  <xacro:standard_link
    name="forearm_link"
    mass="2.275"
    ixx="0.0323610733889" iyy="0.0323610733889" izz="0.0063984375" ixy="0.0" ixz="0.0" iyz="0.0"
    visual_mesh="${mesh_visual_path}/forearm.dae" collision_mesh="${mesh_collision_path}/forearm.stl"
    visual_xyz="0 0 0.007" visual_rpy="${pi/2} 0 ${-pi/2}"
    collision_xyz="0 0 0.007" collision_rpy="${pi/2} 0 ${-pi/2}"
    inertial_xyz="-0.2125 0.0 0.007" inertial_rpy="0 ${pi/2} 0"
  />

  <xacro:revolute_joint name="wrist_1_joint" parent="forearm_link" child="wrist_1_link" origin_xyz="-0.3922 0 0.1333" origin_rpy="0 0 0" axis_xyz="0 0 1" effort="28.0" lower_limit="${-pi}" upper_limit="${pi}" velocity="${2*pi}" damping="0.0" friction="0.0"/>

  <xacro:standard_link
    name="wrist_1_link"
    mass="1.219"
    ixx="0.00272396513625" iyy="0.00272396513625" izz="0.0034284375" ixy="0.0" ixz="0.0" iyz="0.0"
    visual_mesh="${mesh_visual_path}/wrist1.dae" collision_mesh="${mesh_collision_path}/wrist1.stl"
    visual_xyz="0 0 -0.127" visual_rpy="${pi/2} 0 0"
    collision_xyz="0 0 -0.127" collision_rpy="${pi/2} 0 0"
    inertial_xyz="0 0 0" inertial_rpy="0 0 0"
  />

  <xacro:revolute_joint name="wrist_2_joint" parent="wrist_1_link" child="wrist_2_link" origin_xyz="0 -0.0997 -2.0448811823e-11" origin_rpy="${pi/2} 0 0" axis_xyz="0 0 1" effort="28.0" lower_limit="${-pi}" upper_limit="${pi}" velocity="${2*pi}" damping="0.0" friction="0.0"/>

  <xacro:standard_link
    name="wrist_2_link"
    mass="1.219"
    ixx="0.00272194058122" iyy="0.00272194058122" izz="0.0034284375" ixy="0.0" ixz="0.0" iyz="0.0"
    visual_mesh="${mesh_visual_path}/wrist2.dae" collision_mesh="${mesh_collision_path}/wrist2.stl"
    visual_xyz="0 0 -0.0997" visual_rpy="0 0 0"
    collision_xyz="0 0 -0.0997" collision_rpy="0 0 0"
    inertial_xyz="0 0 0" inertial_rpy="0 0 0"
  />

  <xacro:revolute_joint name="wrist_3_joint" parent="wrist_2_link" child="wrist_3_link" origin_xyz="0 0.0996 -2.04283014801e-11" origin_rpy="${pi/2} ${pi} ${pi}" axis_xyz="0 0 1" effort="28.0" lower_limit="${-pi}" upper_limit="${pi}" velocity="${2*pi}" damping="0.0" friction="0.0"/>

  <xacro:standard_link
    name="wrist_3_link"
    mass="0.1879"
    ixx="0.000134270154625" iyy="0.000134270154625" izz="0.00019024875" ixy="0.0" ixz="0.0" iyz="0.0"
    visual_mesh="${mesh_visual_path}/wrist3.dae" collision_mesh="${mesh_collision_path}/wrist3.stl"
    visual_xyz="0 0 -0.0989" visual_rpy="${pi/2} 0 0"
    collision_xyz="0 0 -0.0989" collision_rpy="${pi/2} 0 0"
    inertial_xyz="0 0 -0.025" inertial_rpy="0 0 0"
  />

  <xacro:fixed_joint name="ee_fixed_joint" parent="wrist_3_link" child="ee_link" origin_xyz="0.0 0.0 0.0" origin_rpy="0.0 ${-pi/2} ${pi/2}"/>
  <link name="ee_link">
    <collision>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <origin rpy="0 0 0" xyz="-0.01 0 0"/>
    </collision>
  </link>

  <link name="base"/>
  <xacro:fixed_joint name="base_link-base_fixed_joint" parent="base_link" child="base" origin_xyz="0 0 0" origin_rpy="0 0 ${-pi}"/>

  <link name="tool0"/>
  <xacro:fixed_joint name="wrist_3_link-tool0_fixed_joint" parent="wrist_3_link" child="tool0" origin_xyz="0 0 0" origin_rpy="0 0 0"/>

  </robot>